In [65]:
#read in the data
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import math



gender_meta = pd.read_csv('df_gender.csv')
df_meta = pd.read_csv('../metadata/19cfictionmeta.tsv', sep='\t')
meta = pd.read_csv('../metadata/enriched_metadata.tsv', sep='\t')

df_meta['likelygender']

In [71]:
len(df_meta)

39784

In [75]:
df_all = pd.read_csv('df_all_fiction.csv', dtype = str)

In [76]:
gender_dict = pd.Series(df_meta['likelygender'].values, index=df_meta['author']).to_dict()
df_all['likelygender'] = df_all['author'].map(gender_dict).fillna('unknown')

In [77]:
discussed = meta.loc[meta.is_discussed == True].index.tolist()
dis_kld_precoc.extend(df_all.loc[df_all.index.isin(discussed), 'precocity'])

In [68]:
# df_all = pd.read_csv('df_all_fiction.csv', dtype = 'str')

In [78]:
df_all.head()

,Unnamed: 0,docid,allcopiesofwork,author,copiesin25yrs,earlyedition,imprint,inferreddate,lastname,latestcomp,...,num_chunks,fraction_compared,filtered,time_radius,chunks_used,precocity,novelty,transience,BOOK_ID,decade
0,0,uc2.ark+=13960=t5n877988,2.0,"Aytoun, William Edmondstoune",2.0,True,Edinburgh;London;William Blackwood and Sons;1861.,1861,Aytoun,1861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,uc2.ark+=13960=t1pg1hz3p,1.0,"Winfield, Arthur M",1.0,True,New York;Grosset & Dunlap;c1916.,1916,Winfield,1916,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,uc1.b4369662,1.0,NaN,1.0,True,Boston|Houghton Mifflin|1980.,1980,anonymous0,1980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,mdp.39015037418947,1.0,"Doig, Ivan",1.0,True,New York|Simon & Schuster|c1996.,1996,Doig,1996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,uc1.32106010927223,2.0,"Tan, Amy",2.0,True,New York|Putnam|c1989.,1989,Tan,1989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
gender_meta.head()

   Unnamed: 0                           author  gender
0           0     Robert Hugh, (Spirit) Benson     NaN
1           1           Mary Catharine Rowsell     NaN
2           2  I. A. R. (Ida Alexa Ross) Wylie     NaN
3           3                   Alice Milligan  female
4           4        Nina (Wilcox), Mrs Putnam     NaN

In [61]:
def flip_name(n):
    if ',' in n:
        last, first = n.split(',', 1)
        return f"{first.strip()} {last.strip()}"
    return n  # leave unchanged

gender_meta['author'] = gender_meta['author'].apply(flip_name)

In [62]:
gender_meta.head()

   Unnamed: 0                           author  gender
0           0      (Spirit) Benson Robert Hugh     NaN
1           1           Mary Catharine Rowsell     NaN
2           2  I. A. R. (Ida Alexa Ross) Wylie     NaN
3           3                   Alice Milligan  female
4           4         Mrs Putnam Nina (Wilcox)     NaN

In [63]:
#apply gender dict
gender_dict = pd.Series(gender_meta['gender'].values, index=gender_meta['author']).to_dict()
df_all['gender'] = df_all['author'].map(gender_dict).fillna('unknown')
#
# gender_dict = pd.Series(gender_meta['hand_gender'].values, index=gender_meta['author']).to_dict()
# df_all['hand_gender'] = df_all['creator'].map(gender_dict).fillna('unknown')

In [64]:
df_all.head()

,Unnamed: 0,BOOK_ID,FILENAME,LIBRARIES,TITLE,AUTH_LAST,AUTH_FIRST,AUTH_ID,WRITTEN_AS,PUBL_CITY,...,fraction_compared,filtered,time_radius,chunks_used,precocity,novelty,transience,decade,author,gender
0,32,nyp.33433076050347,nyp.33433076050347.txt,NaN,The wall between,Paine,"['Ralph', 'Delahaye']",NaN,NaN,NaN,...,1.0,trainauthquote,20.0,0.25,-0.089578,4.664888,4.754466,1910,"Ralph, DelahayePaine",unknown
1,93,3262,00003262.txt,86.0,The angel of Lonesome Hill,Landis,Frederick,A_01980,NaN,New York,...,1.0,trainauthquote,20.0,0.25,0.030063,5.273641,5.243578,1910,FrederickLandis,unknown
2,149,4849,00004849.txt,300.0,Sons and lovers,Lawrence,D. H.,A_02006,NaN,New York,...,1.0,trainauthquote,20.0,0.25,0.129034,4.988555,4.859521,1910,D. H.Lawrence,unknown
3,260,3499,00003499.txt,82.0,Philip Dru: administrator,House,Edward Mandell,A_01705,NaN,New York,...,1.0,trainauthquote,20.0,0.25,-0.067784,4.983762,5.051545,1910,Edward MandellHouse,unknown
4,335,uc2.ark+=13960=t6639kt8d,uc2.ark+=13960=t6639kt8d.txt,NaN,Sylvia,Sinclair,['Upton'],NaN,NaN,NaN,...,1.0,trainauthquote,20.0,0.25,-0.098932,4.660319,4.759251,1910,UptonSinclair,unknown

In [54]:

# We also create a list of the docids that have been discussed
# in critical articles, and a contrast set that have the 
# same distribution over time but are not mentioned in our
# literary studies corpus.

discussed = meta.loc[meta.is_discussed == True].index.tolist()
discussed_contrast = meta.loc[meta.discussed_contrast == True].index.tolist()

print('We have ', len(discussed), ' discussed docs and ', len(discussed_contrast), ' contrast docs.')

We have  463  discussed docs and  926  contrast docs.

In [55]:

def print_effect_size(t, p, df):
    ''' Calculates Cohen's d and r2
    for t-test statistics.'''

    d = 2*t / math.sqrt(df)
    r2 = t**2 / (t**2 + df)

    print(f'Cohens d is {d} and r2 is {r2}.')

In [56]:
dis_kld_precoc = []
notdis_kld_precoc = []

for decade in range(10, 80, 5):
	
	data = pd.read_csv('../precocity/precocity_tuned_19' + str(decade) + 's_docs.tsv', sep = '\t')
	data['docid'] = data['docid'].astype(str)
	data.set_index('docid', inplace=True)
    

	selected = pd.DataFrame(data.loc[(data.time_radius == 20) & (data.filtered == 'trainauth') & (data.chunks_used == .25) & (data.fraction_compared == 1.0), :])
	dis_kld_precoc.extend(selected.loc[selected.index.isin(discussed), 'precocity'])
	notdis_kld_precoc.extend(selected.loc[selected.index.isin(discussed_contrast), 'precocity'])

t, p = ttest_ind(dis_kld_precoc, notdis_kld_precoc)
df = len(dis_kld_precoc) + len(notdis_kld_precoc) - 2
print(t, p, df)
print_effect_size(t, p, df)

nan nan -2

C:\Users\bscag\miniconda3\Lib\site-packages\scipy\_lib\deprecation.py:234: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  return f(*args, **kwargs)

ValueError: math domain error

In [73]:
import statsmodels.formula.api as smf

model = smf.logit("is_discussed ~ C(likelygender) + precocity + C(likelygender):precocity + decade", data=df_all).fit()
print(model.summary())

PatsyError: Error evaluating factor: NameError: name 'is_discussed' is not defined
    is_discussed ~ C(likelygender) + precocity + C(likelygender):precocity + decade
    ^^^^^^^^^^^^

In [59]:
df_all['gender'].value_counts(dropna=False)

gender
unknown    5878
Name: count, dtype: int64